:root{
    --color-grey:rgba(228, 226, 226, 0.808);
    --color-menu:#3498DB;
    --color-principal: white;
    --radius: 0.5rem;
    --betwen-title-container: 0.5rem;
    --title-container: 1.25rem;
    --betwen-container: 0.25rem;
    --img-perfil-short: 1.5rem;
    --img-perfil-medium: 3rem;
    --img-perfil-large: 3.5rem; 
}
.html{
    font-size: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.menu{
    background-color: var(--color-menu);
}
.container-content{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 5fr;
}
.board{
    background-color: var(--color-grey);
}
.header{
    background-color: var(--color-principal);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 2rem;
}
.search{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.search input{
    width: 30rem;
    height: 1.5rem;
    background-color: var(--color-grey);
    border-radius: 0.75rem;
}
.perfil-option{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}
.perfil-option .img-perfil img{
    height: var(--img-perfil-medium);
}
.perfil-title{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.btn-options{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}
.container-welcome{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: flex-start;
}

.container-welcome .name-text{
    font-size: 1.5rem;
}
button{
    height: 2rem;
    width: 6rem;
    background-color: var(--color-menu);
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--color-principal);
    font-weight: bolder;
}
.board{
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 0 2rem 1rem;
    gap: 1rem;
}
.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
    padding-right: 1rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-row: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
}
.project{
    background-color: var(--color-principal);
}

.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--betwen-title-container);
    margin: 0;
    padding: 1rem;
}
.announcements .title-announcements > p, .trendings .title-trending > p{
    font-size: var(--title-container);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.announcements-container, .trending-container{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.announcements-container > div:not(:last-child){
    border-bottom: solid 1px #000;
}

.announcements-container > div:first-child, .trending-container > div:first-child{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.announcements-container > div:last-child, .trending-container > div:last-child{
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.announcement{
    background-color: var(--color-principal);
    padding: 0.25rem;
    margin: 0;
}
.announcement > p{
    margin: 0;
    padding: 0;
}
.announcement > p:first-child{
    font-weight: bolder;
}
.trendings{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--betwen-title-container);
    margin: 0;
    padding: 1rem;
}

.trending{
    background-color: var(--color-principal);
    display: flex;
    width: 100%;
    margin: 0;
    padding: var(--betwen-container);
    gap: var(--betwen-container);
    background-color: var(--color-principal)
}
.trending .icon img{
    padding: 0;
    margin: 0;
    height: var(--img-perfil-medium) ;
}
.trending .info-user{
    margin: 0;
    padding: 0;
}
.trending .info-user > p{
    padding: 0;
    margin: 0;
}
.trending .info-user > :first-child{
    font-weight: bolder;
}