:root{
    --color-grey:rgba(228, 226, 226, 0.808);
    --color-menu:#3498DB;
    --color-principal: white;
    --radius: 0.5rem;
    --betwen-title-container: 0.5rem;
    --title-container: 1.25rem;
    --img-perfil-short: 2rem;
    --img-perfil-medium: 3rem;
    --img-perfil-large: 3.5rem; 
    --padding-short: 0.5rem;
    --padding-outer: 1rem;
    --gap-min: 2px;
    --gap-short: 0.5rem;
    --gap-normal: 1rem;
    --gap-larger: 2rem;
    --padding-min: 0.5rem;
    --font-min: 0.7rem;
    --font-large: 1.25;
    --font-larger: 2rem;
    --height-header: 9rem;
    --height-board: calc(100vh - var(--height-header)) ;
    --height-project: 150px;
    --width-project: 300px;
}
.html{
    font-size: 10px;
    
}
body, body > *, body > * > *, body > * > * > *, 
body > * > * > * > *, body > * > * > * > * > *,
body > * > * > * > * > * > *,
body > * > * > * > * > * > * > *,
body > * > * > * > * > * > * > * > *{
    margin: 0;
    padding: 0;
}

.container{
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
}
.menu{
    background-color: var(--color-menu);
}
.menu .logo img{
    height: var(--img-perfil-medium);
}
.menu {
    display: flex;
    flex-direction: column;
    gap: var(--gap-larger);
    justify-items: flex-start;
    padding: var(--padding-outer);
    color: var(--color-principal);
}
.menu .container-logo{
    display: flex;
    font-size: var(--font-larger);
    gap: var(--gap-normal);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.menu > div:not(:first-child) > *{
    display: flex;
    gap: var(--gap-normal);
    font-size: var(--font-large);
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
}
.container-content{
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: var(--color-principal);
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 var(--padding-outer);
    height: var(--height-header);
}
.search{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.search input{
    width: 30rem;
    height: 1.5rem;
    background-color: var(--color-grey);
    border-radius: 0.75rem;
}
.perfil-option{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-normal);
    font-size: 1rem;
    font-weight: bolder;
}
.perfil-option .img-perfil img, .perfil-title img{
    height: var(--img-perfil-medium);
}
.perfil-title{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    gap: var(--gap-normal);
}
.btn-options{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}
.container-welcome{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: flex-start;
}

.container-welcome .name-text{
    font-size: 1.5rem;
}
button{
    height: 1.5rem;
    width: 5rem;
    background-color: var(--color-menu);
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--color-principal);
    font-weight: bolder;
}
.board{
    background-color: var(--color-grey);
    height: var(--height-board);
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 var(--padding-outer);
    column-gap: var(--gap-normal);
    
}
.projects > div:first-child,
.announcements > div:first-child, 
.trendings > div:first-child{
    font-size: var(--title-container);
    font-weight: bolder;
}
.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: var(--gap-normal);
    overflow-y: auto;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(var(--width-project),1fr));
    gap: var(--gap-normal);
}
.project{
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    height: var(--height-project);
    justify-content: space-between;
    padding: var(--padding-outer);
}
.project div:first-child{
    padding-bottom: var(--padding-outer);
}
.project div p:first-child{
    font-size: var(--font-large);
    font-weight: bold;
    padding-bottom: var(--padding-short);
}
.project div p:last-child{
    height: 80px;
    overflow-y: auto;
}
.project div:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-short);
}

.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-normal);
    font-size: var(--font-min);
}


.announcements-container, .trending-container{
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
.announcement{
    background-color: var(--color-principal);
    padding: var(--padding-short);
}
.announcements-container > div:not(:last-child){
    border-bottom: solid 1px #000;
    
}

.announcement > p:first-child{
    font-weight: bolder;
}
.trendings{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-short);
    font-size: var(--font-min);
}

.trending{
    background-color: var(--color-principal);
    display: flex;
    width: 100%;
    gap: var(--gap-normal);
}
.trending img{
    height: var(--img-perfil-short) ;
}
.trending .info-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-min)
}
.trending .info-user > :first-child{
    font-weight: bolder;
}
